# Importing all Libraries

In [9]:
import os 
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from math import sqrt
from datetime import datetime

%matplotlib inline

# Importing dataset

In [12]:
raw_data_country_wise = pd.read_csv('C:\\Users\\Manasa\\OneDrive\\Documents\\covid-19\\country_wise_latest.csv')

print("The Shape of confirmed is: ", raw_data_country_wise)


raw_data_country_wise.head()

The Shape of confirmed is:           Country/Region  Confirmed  Deaths  Recovered  Active  New cases  \
0           Afghanistan      36263    1269      25198    9796        106
1               Albania       4880     144       2745    1991        117
2               Algeria      27973    1163      18837    7973        616
3               Andorra        907      52        803      52         10
4                Angola        950      41        242     667         18
..                  ...        ...     ...        ...     ...        ...
182  West Bank and Gaza      10621      78       3752    6791        152
183      Western Sahara         10       1          8       1          0
184               Yemen       1691     483        833     375         10
185              Zambia       4552     140       2815    1597         71
186            Zimbabwe       2704      36        542    2126        192

     New deaths  New recovered  Recovery Rate  Recovered / 100 Cases  \
0            10             18           3.50                  69.49
1             6             63           2.95                  56.25
2             8            749           4.16                  67.34
3             0              0           5.73                  88.53
4             1              0           4.32                  25.47
..          ...            ...            ...                    ...
182           2              0           0.73                  35.33
183           0              0          10.00                  80.00
184           4             36          28.56                  49.26
185           1            465           3.08                  61.84
186           2             24           1.33                  20.04

     Fatality Rate  Confirmed last week  1 week change  1 week % increase  \
0             5.04                35526            737               2.07
1             5.25                 4171            709              17.00
2             6.17                23691           4282              18.07
3             6.48                  884             23               2.60
4            16.94                  749            201              26.84
..             ...                  ...            ...                ...
182           2.08                 8916           1705              19.12
183          12.50                   10              0               0.00
184          57.98                 1619             72               4.45
185           4.97                 3326           1226              36.86
186           6.64                 1713            991              57.85

                WHO Region
0    Eastern Mediterranean
1                   Europe
2                   Africa
3                   Europe
4                   Africa
..                     ...
182  Eastern Mediterranean
183                 Africa
184  Eastern Mediterranean
185                 Africa
186                 Africa

[187 rows x 15 columns]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Recovery Rate,Recovered / 100 Cases,Fatality Rate,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

# Un-Pivoting the data

In [4]:
raw_data_country_wise2 = pd.melt(raw_data_country_wise, id_vars=['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active', 'Recovery Rate', 'Fatality Rate'])
print("The Shape of Confirmed is: ", raw_data_country_wise2)
raw_data_country_wise2.head()

The Shape of Confirmed is:            Country/Region  Confirmed  Deaths  Recovered  Active  Recovery Rate  \
0            Afghanistan      36263    1269      25198    9796           3.50
1                Albania       4880     144       2745    1991           2.95
2                Algeria      27973    1163      18837    7973           4.16
3                Andorra        907      52        803      52           5.73
4                 Angola        950      41        242     667           4.32
...                  ...        ...     ...        ...     ...            ...
1491  West Bank and Gaza      10621      78       3752    6791           0.73
1492      Western Sahara         10       1          8       1          10.00
1493               Yemen       1691     483        833     375          28.56
1494              Zambia       4552     140       2815    1597           3.08
1495            Zimbabwe       2704      36        542    2126           1.33

      Fatality Rate    variable                  value
0              5.04   New cases                    106
1              5.25   New cases                    117
2              6.17   New cases                    616
3              6.48   New cases                     10
4             16.94   New cases                     18
...             ...         ...                    ...
1491           2.08  WHO Region  Eastern Mediterranean
1492          12.50  WHO Region                 Africa
1493          57.98  WHO Region  Eastern Mediterranean
1494           4.97  WHO Region                 Africa
1495           6.64  WHO Region                 Africa

[1496 rows x 9 columns]

,Country/Region,Confirmed,Deaths,Recovered,Active,Recovery Rate,Fatality Rate,variable,value
0,Afghanistan,36263,1269,25198,9796,3.50,5.04,New cases,106
1,Albania,4880,144,2745,1991,2.95,5.25,New cases,117
2,Algeria,27973,1163,18837,7973,4.16,6.17,New cases,616
3,Andorra,907,52,803,52,5.73,6.48,New cases,10
4,Angola,950,41,242,667,4.32,16.94,New cases,18

# Deleting Unnecessary Columns

In [5]:
columns_to_delete = ['variable', 'value']  # Specifying the columns want to delete

# Dropping the columns
raw_data_country_wise2.drop(columns=columns_to_delete, inplace=True)
raw_data_country_wise2.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,Recovery Rate,Fatality Rate
0,Afghanistan,36263,1269,25198,9796,3.50,5.04
1,Albania,4880,144,2745,1991,2.95,5.25
2,Algeria,27973,1163,18837,7973,4.16,6.17
3,Andorra,907,52,803,52,5.73,6.48
4,Angola,950,41,242,667,4.32,16.94

# Printing columns in a table

In [6]:
print(raw_data_country_wise2.columns)

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Recovery Rate', 'Fatality Rate'],
      dtype='object')

# Investigating the Null Values

In [7]:
raw_data_country_wise2.isnull().sum()

Country/Region    0
Confirmed         0
Deaths            0
Recovered         0
Active            0
Recovery Rate     0
Fatality Rate     0
dtype: int64

In [8]:
print("The Shape of confirmed is: ", raw_data_country_wise2.shape)

The Shape of confirmed is:  (1496, 7)